name: Validate Nix Flake

on:
  workflow_dispatch:
  push:
    paths:
      - "**/*.nix"
      - "flake.lock"
      - ".github/workflows/check.yml"

jobs:
  check-flake:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Nix with experimental features
      uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Check Flake
      run: nix flake check --accept-flake-config