name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 11 * * *'

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty

      - name: Update Lockfile
        uses: DeterminateSystems/update-flake-lock@main
        id: update
        with:
          pr-title: 'chore(flake): update inputs'
          pr-labels: |
            dependencies
            automated
          commit-msg: 'chore(flake): update inputs'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Approve PR
        if: steps.update.outputs.pull-request-number != ''
        env:
          GH_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          gh pr review ${{ steps.update.outputs.pull-request-number }} --approve

      - name: Enable Auto-merge
        if: steps.update.outputs.pull-request-number != ''
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ steps.update.outputs.pull-request-number }} --auto --squash --delete-branch
