name: Bump Flake Inputs

on:
  workflow_dispatch:
  schedule:
    # Runs at 12 AM and 6 AM EST (converted to UTC: 05:00, 11:00)
    - cron: '5 0 * * *'
    - cron: '11 0 * * *'

jobs:
  update-lockfile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty

      - name: Update Lockfile
        uses: DeterminateSystems/update-flake-lock@main
        id: update
        with:
          pr-title: ':package:(flake): update'
          commit-msg: ':package:(flake): update'
          auto-approve: true

      - name: Merge Changes
        run: gh pr merge ${{ steps.update.outputs.pull-request-number }} --squash --delete-branch
