name: Bump Flake Inputs
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'  # Daily at midnight UTC

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

    - name: Install Nix with experimental features
      uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Update Flake Inputs
      run: nix flake update

    - name: Commit and push changes
      run: |
        git add flake.lock
        git diff --quiet && git diff --staged --quiet || \
        (git commit -m "chore: update flake.lock" && git push)