name: Bump Flake Inputs
on:
  workflow_dispatch:
  push:
    paths:
      - "**/*.nix"
      - "flake.lock"
      - ".github/workflows/update.yml"
  schedule:
    - cron: '0 0 * * *'  # Daily at midnight UTC

jobs:
  update-lockfile:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"

    - name: Install Nix with experimental features
      uses: cachix/install-nix-action@v20
      with:
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Update Flake Inputs
      run: nix flake update

    - name: Commit and push changes
      run: |
        UPDATES=$(git diff --name-only flake.lock | wc -l)
        if [ $UPDATES -gt 0 ]; then
          git add flake.lock
          git commit -m "chore(flake.lock): update ($UPDATES packages)"
          git push
        fi